# fastapi==0.116.1
# uvicorn==0.35.0
# starlette==0.47.2
# numpy==1.26.4
# python-multipart==0.0.20
# mediapipe==0.10.21
# requests==2.32.4
# python-dotenv==1.1.1
# psycopg2-binary==2.9.9
# websockets==15.0.1

fastapi 
python-dotenv
requests
uvicorn[standard]
mediapipe
opencv-python
numpy
websockets